div{
  border: 4px solid #880606;
  position: fixed;
  width: 300px;
  top: 10px;
  left: 35%;
  background: #E4E47C;
}

p{
  position: relative;
  border: 3px solid #efeff1;
  width: 280px;
  left: 1%;
  margin:10px 0;
  padding: 5px;
  background: #FFFFFF;
}